{% extends 'layout.html.twig' %}

{% block title %}
    Modification informations Club
{% endblock title %}

{% block content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <br><br>
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            {{ form_start(form, { 'action': path('club_edit') }) }}
            <div class="input-field col s12">
                <i class="material-icons prefix">info_outline</i>
                {{ form_widget(form.sportParDefaut) }}
                <label>Sport par défaut associé au club</label>
            </div>
            <br>
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                {{ form_widget(form.email) }}
                <label>Adresse email</label>
            </div>
            <br>
            <a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a><br><br>
                <div class="right">
                    <button class="btn waves-effect blue darken-2" id="sub" type="submit" name="action">Mettre à jour
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <br><br>
            {{ form_end(form) }}
        </div>
        <br><br>
    </div>

{% endblock fos_user_content %}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('select').material_select();
    </script>
{% endblock %}