{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div id="banniere" class="parallax-container">
        <div class="section no-pad-bot"><br><br><br>
            <div class="row">
            <div class="card col l5 offset-l1 s12 z-depth-4">
                <h4 class="header center blue-text text-accent-3">Bouge Ta Vienne</h4>
                <div class="center">
                    <p align="justify" style="font-size: 18px;" class="light">
                        Ce site a pour vocation de présenter les différents événements sportifs qui ont lieu sur
                        le département de la Vienne et de proposer à des bénévoles de s’engager sur ces manifestations
                        pour aider au bon déroulement de celles-ci.
                    </p>
                </div>
                <div class="center">
                    <a href="#evenements" class="btn-large waves-effect waves-light blue accent-3">Les évenements à venir</a>
                    <a href="#benevolat" class="btn-large waves-effect waves-light blue accent-3">Devenez bénevole</a>
                </div>
                <br>
            </div>
        </div>
        </div>
        <div class="parallax"><img src='{{ asset("img/carteVienne.png")}}'></div>
    </div>

    <div class="container">
        <div class="section" id="evenements">
            <div class="row">
                <div class="card col s12 grey lighten-5">
                    <div class="col s12">
                        <div class="input-field col l4 s12">
                            <i class="material-icons prefix">directions_run</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Choix du sport</label>
                        </div>
                        <div class="input-field col l3 s12">
                            <i class="material-icons prefix">add_location</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Lieu</label>
                        </div>
                        <div class="input-field col l3 s12">
                            <i class="material-icons prefix">event</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Date</label>
                        </div><br>
                        <div class="input-field col l1 s6">
                            <a class="btn-floating halfway-fab waves-effect waves-light blue accent-3"
                               onclick="afficherCriteresRecherche()">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="input-field col l1 s6">
                            <a class="btn-floating halfway-fab waves-effect waves-light blue accent-3" >
                                <i class="material-icons">search</i>
                            </a>
                        </div>
                    </div>
                    <div class="col s12" id="criteres" style="display: none">
                        Test
                    </div>
                </div>
                <div class="col s12">
                    {% for evt in events %}
                        <div class="card small hoverable col l4 s12">
                            <img src='{{ asset("img/sports/"~ evt.sport.intitule ~".png")}}' class="circle" width="10%"/>
                            <span style="font-size: 14px;"><b>{{ evt.titre }}</b></span><br>
                            <span style="font-size: 12px;">
                                Le {{ evt.dateDebut|date('d/m/Y') }} à {{ evt.horaire|date('H:i') }} H<br>
                                {{ evt.lieu.adresse }} - {{ evt.lieu.ville }}
                            </span>
                            <a href="#detail_evenement{{ evt.id }}" class="modal-trigger secondary-content btn-floating halfway-fab waves-effect waves-light blue accent-3"><i class="material-icons">add</i></a>
                            <div class="card-action">
                                {% if evt.contientDemandesBenevolat() %}
                                    <a href="#inscription_benevolat" class=" btn-small blue accent-3 modal-trigger">Besoin de bénévoles !</a>
                                {% endif %}
                            </div>
                        </div>

                        <div id="detail_evenement{{ evt.id }}" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col s1">
                                        <img src='{{ asset("img/sports/"~ evt.sport.intitule ~".png")}}' width="135%"
                                             class="circle">
                                    </div>
                                    <div class="col s11">
                                        <h5>{{ evt.titre }}</h5>
                                        Événement crée par : {{ evt.club.intitule.nom }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card-panel grey lighten-5 z-depth-2 col s12">
                                        <div class="col l6 s12">
                                            <p>
                                                <b>Sport :</b> {{ evt.sport.intitule }}<br>
                                                <b>Niveau :</b> {{ evt.niveau.type }}<br>
                                                <b>Catégorie :</b> {{ evt.categorieAge.type }}<br>
                                                {% if evt.tarifPlein != null %}
                                                    <b>Tarif plein :</b> {{ evt.tarifPlein }}<br>
                                                {% endif %}
                                                {% if evt.tarifReduit != null %}
                                                    <b>Tarif réduit :</b> {{ evt.tarifReduit }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col l6 s12">
                                            <p>
                                                <i class="material-icons">event</i>
                                                {% if evt.dateFin != null %}Du {{ evt.dateDebut|date('d/m/Y') }}
                                                    au {{ evt.dateFin|date('d/m/Y') }}
                                                {% else %}
                                                 {{ evt.dateDebut|date('d/m/Y') }}
                                                {% endif %}
                                                <br>
                                                <i class="material-icons">access_time</i> {{ evt.horaire|date('H:i') }} H<br>
                                                <i class="material-icons">location_on</i> {{ evt.lieu.adresse }} -
                                                 {{ evt.lieu.ville }} - {{ evt.lieu.codePostal }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% if evt.description != null %}
                                <div class="row">
                                    <div class="card-panel grey lighten-5 z-depth-2">
                                        <h5>Description</h5>
                                        {{ evt.description }}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <a class="waves-effect waves-light btn social facebook">
                                    <i class="fa fa-facebook"></i> Partager sur Facebook</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if maxPages > 1 %}
                <div class="col s12 card-panel z-depth-2">
                    <ul class="pagination right">
                        {# `«` flèche gauche #}
                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('accueil', {"page": thisPage - 1 < 1 ? 1 : thisPage-1}) ~ "#evenements" }}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        {# Numéros de pages #}
                        {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' }}>
                                <a href="{{ path('accueil', {"page": i}) ~ "#evenements" }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {# `»` flèche droite #}
                        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path('accueil', {"page": thisPage+1 <= maxPages ? thisPage+1 : thisPage}) ~ "#evenements" }}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="benevolat" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="row">
                <div class="card col l6 offset-l5 s12 z-depth-4">
                    <br>
                    <h4 class="header center blue-text text-accent-3">Devenez bénévole</h4>
                    <div class="center">
                        <p align="justify" style="font-size: 18px;" class="light">
                            Encadrer, entraîner, accompagner, participer aux événements de manière régulière ou ponctuelle, les bénévoles sportifs seraient plus de 3,5 millions en France.
                            Et contrairement aux idées reçues, ce nombre est même plutôt en augmentation. Ce qui change c’est l’engagement, qui devient moins régulier.
                            <br>Cependant cela reste un engagement qui demain pourra se pérenniser sur du long terme.
                        </p>
                    </div>
                    <div class="center">
                        <a href="{{ path('benevole_registration') }}" class="btn-large waves-effect waves-light blue accent-3">S'inscrire</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="parallax"><img src='{{ asset("img/benevolat.png")}}'></div>
    </div>

    <div id="inscription_benevolat" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h6 class="header">INSCRIPTION EN TANT QUE BÉNÉVOLE À L'ÉVÉNEMENT</h6>
            <div class="row">
                <div class="col m10 offset-m1 s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nom" type="text" class="validate" disabled selected>
                                <label for="nom">Dupont</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="prenom" type="text" class="validate" disabled selected>
                                <label for="prenom">Toto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">language</i>
                                <select>
                                    <option value="" disabled selected>Type de poste</option>
                                    <option value="1">Restauration</option>
                                    <option value="2">Parking</option>
                                    <option value="3">Entrée</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" data-length="500"></textarea>
                                <label for="textarea1">
                                    <i class="material-icons">edit</i>
                                    Expliquez vos motivations en quelques mots
                                </label>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect blue darken-2" type="submit" name="action">Valider
                <i class="material-icons right">send</i>
            </button>
            <button class="modal-action modal-close btn waves-effect waves-light grey" name="action">Fermer
                <i class="material-icons right">clear</i>
            </button>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.materialize-autocomplete.js') }}"></script>

    <script type="text/javascript">
        function afficherCriteresRecherche() {
            document.getElementById('criteres').style.display = "block";
        }
        $(".dropdown-button").dropdown();
        $("select").material_select();
        $('.scrollspy').scrollSpy();
        $('.parallax').parallax();
        $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                    console.log(modal, trigger);
                },
                complete: function() { } // Callback for Modal close
            }
        );

        $(function () {
            var multiple = $('#multipleInput').materialize_autocomplete({
                multiple: {
                    enable: true
                },
                appender: {
                    el: '.ac-users'
                },
                dropdown: {
                    el: '#multipleDropdown'
                }
            });
            var resultCache = {
                'F': [
                    {
                        id: 'Football',
                        text: 'Football',
                    }
                ],
                'FO': [
                    {
                        id: 'Football',
                        text: 'Football',
                    }
                ],
                'FOO': [
                    {
                        id: 'Football',
                        text: 'Football',
                    }
                ],
                'FOOT': [
                    {
                        id: 'Football',
                        text: 'Football',
                    }
                ],
                'R': [
                    {
                        id: 'Rugby',
                        text: 'Rugby',
                    }
                ],
                'RU': [
                    {
                        id: 'Rugby',
                        text: 'Rugby',
                    }
                ],
                'RUG': [
                    {
                        id: 'Rugby',
                        text: 'Rugby',
                    }
                ],
                'RUGB': [
                    {
                        id: 'Rugby',
                        text: 'Rugby',
                    }
                ],
                'K': [
                    {
                        id: 'Karaté',
                        text: 'Karaté',
                    }
                ],
                'KA': [
                    {
                        id: 'Karaté',
                        text: 'Karaté',
                    }
                ],
                'KAR': [
                    {
                        id: 'Karaté',
                        text: 'Karaté',
                    }
                ],
                'KARA': [
                    {
                        id: 'Karaté',
                        text: 'Karaté',
                    }
                ],
                'V': [
                    {
                        id: 'Volley-Ball',
                        text: 'Volley-Ball',
                    }
                ],
                'VO': [
                    {
                        id: 'Volley-Ball',
                        text: 'Volley-Ball',
                    }
                ],
                'VOL': [
                    {
                        id: 'Volley-Ball',
                        text: 'Volley-Ball',
                    }
                ],
                'VOLL': [
                    {
                        id: 'Volley-Ball',
                        text: 'Volley-Ball',
                    }
                ],
                'B': [
                    {
                        id: 'Basket-Ball',
                        text: 'Basket-Ball',
                    }
                ],
                'BA': [
                    {
                        id: 'Basket-Ball',
                        text: 'Basket-Ball',
                    }
                ],
                'BAS': [
                    {
                        id: 'Basket-Ball',
                        text: 'Basket-Ball',
                    }
                ],
                'BASK': [
                    {
                        id: 'Basket-Ball',
                        text: 'Basket-Ball',
                    }
                ]
            };
            multiple.resultCache = resultCache;
        });

    </script>
{% endblock %}