{% extends "layout.html.twig" %}

{% block title %}Mon espace club{% endblock %}

{% block content %}

    <div class="container">
        <div class="row center">
        <h4>MON ESPACE CLUB</h4>
            <a href="{{ path('club_edit') }}" class="btn waves-effect waves-light blue accent-3">
                Modifier mes informations
            </a>
            <a href="{{ path('creation_evenement') }}" class="btn waves-effect waves-light blue accent-3">
                Créer un événement
            </a>
        </div>
        <div class="row left">
            <div class="col s12">
                <h5>MES ÉVÉVENEMENTS</h5>
                Veuillez valider vos actions après avoir modifié, supprimé,
                ou dupliqué des événements du tableau.
            </div>
        </div>
        <div class="row">
            <div class="card-panel grey lighten-5 z-depth-2 col s12" id="tableauEvenements">
                    {% form_theme form 'evenements.collection.html.twig' %}
                    {{ form(form) }}
            </div>
        </div>
    </div>
<br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">

        $('select').material_select();

        $('.selection_evenements').collection({
            allow_up: false,
            allow_down: false,
            allow_duplicate: true,
            elements_selector: 'tr.item',
            elements_parent_selector: '%id% tbody',
            before_remove: function(collection, element) { return confirm("Voulez-vous vraiment supprimer l'événement ?"); }
        });

        function initPickers() {
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Aujourd\'hui',
                clear: 'Réinitialiser',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });

            $('.timepicker').pickatime({
                default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Réinitialiser', // text for clear-button
                canceltext: 'Annuler', // Text for cancel-button
                autoclose: false, // automatic close timepicker
                ampmclickable: true, // make AM PM clickable
                aftershow: function(){} //Function for after opening timepicker
            });
        }

        $( document ).ready(function() {
            initPickers();
        });

        $( document ).on( "click", ".btn-dupliquer", function() {
            initPickers();
        });

        $( document ).on( "click", ".btn-dupliquer", function() {
            $(".btn-edit").attr('href', '').css({'cursor': 'pointer', 'pointer-events' : 'none'});
        });

        $('form[name="TableauEvenementsType"]').submit(function() {
            $(window).unbind('beforeunload');
        });

        $(window).bind('beforeunload', function(){
            return 'Are you sure you want to leave?';
        });

    </script>
{% endblock %}