<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Bénévolat{% endblock %}</title>

    {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Import materialize.css-->
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}" media="screen,projection"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen,projection"/>
    {% endblock %}
</head>

<body>
    <!-- Dropdown Structure -->
    <ul id="choix-inscription" class="dropdown-content">
        <li><a href="{{ path('club_registration') }}">Club</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('benevole_registration') }}">Bénévole</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper blue accent-3 z-depth-3">
            <a href="{{ path('accueil') }}" class="brand-logo center">
                <img src='{{ asset("img/logo.png")}}' class="responsive-img" width="33%"/>
            </a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                    {% if app.user.getIntitule is defined %}
                        <a href="{{ path('espace_club') }}">
                            {{ app.user.intitule.nom}}
                        </a>
                    {% else %}
                        <a href="{{ path('espace_benevole') }}">
                            {{ app.user.prenom}}
                        </a>
                    {% endif %}
                    </li>
                    <li>
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="choix-inscription">Inscription
                            <i class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
            </ul>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                <li><a href="#!">Connexion</a></li>
                <li><a href="{{ path('club_registration') }}">Inscription Club</a></li>
                <li><a href="{{ path('benevole_registration') }}">Inscription Bénévole</a></li>
            </ul>
        </div>
    </nav>
    <br>

    {% block content %}
    {% endblock %}

    <footer class="page-footer blue accent-3" id="footer">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">A propos</h5>
                    <p class="grey-text text-lighten-4">
                        Description de l'application, projet ...
                    </p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">En collaboration avec</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Logo CDOS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Fait par Bérengere, Cyprien, Pierre, Rudy ...</p>
            </div>
        </div>
    </footer>

{% block javascripts %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/init.js') }}"></script>
{% endblock %}

</body>
</html>