{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_open</i>
                {{ form_widget(form.current_password) }}
                <label>Votre mot de passe actuel</label>
                <span class="red-text">{{ form_errors(form.current_password) }}</span>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                {{ form_widget(form.plainPassword.first) }}
                <label>Nouveau mot de passe</label>
                <span class="red-text">{{ form_errors(form.plainPassword.first) }}</span>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                {{ form_widget(form.plainPassword.second) }}
                <label>Confirmation du nouveau mot de passe</label>
            </div>
            <div class="right">
                <button class="btn waves-effect blue darken-2" id="sub" type="submit" name="action">Valider
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <br>
            <br>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock fos_user_content %}