{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="card hoverable grey lighten-5 z-depth-1 col s12">
                <br>
                <span class="card-title blue-text text-accent-3">MODIFIER SON MOT DE PASSE</span></br>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_open</i>
                    {{ form_widget(form.current_password) }}
                    <label>Votre mot de passe actuel</label>
                    <span class="red-text">{{ form_errors(form.current_password) }}</span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    {{ form_widget(form.plainPassword.first) }}
                    <label>Nouveau mot de passe</label>
                    <span class="red-text">{{ form_errors(form.plainPassword.first) }}</span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    {{ form_widget(form.plainPassword.second) }}
                    <label>Confirmation du nouveau mot de passe</label>
                </div>
                <div class="right">
                    <button class="btn waves-effect blue accent-3" id="sub" type="submit" name="action">Valider
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="input-field col s12"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div><br>
{% endblock fos_user_content %}